main {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background: none;
}

body {
    background: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contenedor {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.formulario {
    background: #fff;
    padding: 3px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="text"], input[type="password"], input[type="email"] {
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor:hover, input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover {
    background: #ccffcc;
}

.input-contenedor:hover {
        
    background: #ccffcc;
    input 
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background: cadetblue;
}

p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media(min-width:768px) {
    .formulario {
        width: 500px;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 2%;
    }
}