
 main {
    margin: 0;
    align-content: center;
    display: flex;
    min-height: 100vh;
}

#slides {
    width: 500px;
    height: 300px;
    margin: auto;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

 #slides img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
}

#slides input[type="radio"] {
    position: relative;
    z-index: 50;
    margin: 10px;
}

/* #slide1:checked ~ #controls label:nth-child(2) */
input[type="radio"]:checked ~  #slides img {
    
}

 #overflow {
    width: 100%;
    overflow: hidden;
 }



 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 300px;
    opacity: 1;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }

 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(13),
 #slide13:checked ~ #controls label:nth-child(14),
 #slide14:checked ~ #controls label:nth-child(15),
 #slide15:checked ~ #controls label:nth-child(1){
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }

 #slide1:checked ~ #controls label:nth-child(15),
 #slide15:checked ~ #controls label:nth-child(14),
 #slide14:checked ~ #controls label:nth-child(13),
 #slide13:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
/*  #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 } */

 @media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(13),
 #slide13:checked ~ #controls label:nth-child(14),
 #slide14:checked ~ #controls label:nth-child(15),
 #slide15:checked ~ #controls label:nth-child(1),
 #slide1:checked ~ #controls label:nth-child(15),
 #slide15:checked ~ #controls label:nth-child(14),
 #slide14:checked ~ #controls label:nth-child(13),
 #slide13:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(1){
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
       
    }
 } 