h1 {
    text-align: center;
}

main {
    margin: 0;
    align-content: center;
    display: block;
    min-height: 100vh;
    position: relative;
}

.contenedor-p {
    width: 80%;
    margin: 0 auto;
    background: rgba(126, 85, 85, 0.3);
}

.cabeza {
    text-align: center;
    margin-bottom: -40px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 25px #7204A4;
}

.cabeza a{
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 25px #7204A4;
}

.cabeza a:hover{
    padding: 5px;
    margin: 2px;
    background: cadetblue;
}

.cabeza h3 {
    margin-bottom: -12px;
}

.pie {
    margin-top: 20px;
}

.pie ul {
    list-style: none;
    text-align: center;
    color: #ffffff;
}

.pie li {
    text-align: left;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.pie i {
    color: #ffffff;
    border-radius: 20px;
    background-color: #000000;
    padding: 5px;
}

.pie i:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor: pointer;
}

.pie a {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 5px #10E02B;
    background-color: 0 0 1 .2;
}

.pie a:hover {
    background: #000000;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.pie i[title]  {
    display:inline;    
  }

.slider {
    width: 60%;
    height: 400px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    box-shadow: 20px 0 60px rgba(0, 0, 0, 0.987);
}

.slider img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 4px;
}

.slider img:hover {
    transform: scale(1.1);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor: pointer;
}

.slider input[type="radio"] {
    display: none;
}

.slider input[type="radio"]:checked~img {
    opacity: 1;
}

.slider input[type="radio"]+label {
    position: relative;
    z-index: 50;
    margin: 10px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 20%;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.slider input[type="radio"]:checked+label {
    background: #000000;
    border: 2px solid #ffffff;
}

@media only screen and (max-width: 626px) {
    .slider input[type="radio"]+label {
        width: 50%;
        height: 20px;
    }
    .slider {
        width: 100%;
        height: 400px;
    }
}

@media only screen and (max-width: 830px) {
    .slider input[type="radio"]+label {
        margin-right: px;
        width: 80%;
        height: 20px;
    }
    .slider {
        width: 100%;
        height: 400px;
    }
}

/*  */

/* 
#sbutton1:checked  ~  label:nth-child(2),
#sbutton2:checked  ~  label:nth-child(3),
#sbutton3:checked  ~  label:nth-child(4),
#sbutton4:checked  ~  label:nth-child(5),
#sbutton5:checked  ~  label:nth-child(6),
#sbutton6:checked  ~  label:nth-child(7),
#sbutton7:checked  ~  label:nth-child(8),
#sbutton8:checked  ~  label:nth-child(9),
#sbutton9:checked  ~  label:nth-child(10),
#sbutton10:checked ~  label:nth-child(11),
#sbutton11:checked ~  label:nth-child(12),
#sbutton12:checked ~  label:nth-child(13),
#sbutton13:checked ~  label:nth-child(14),
#sbutton14:checked ~  label:nth-child(15),
#sbutton15:checked ~  label:nth-child(1){
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
   margin: 0 -50px 0 0;
   display: block;
    outline: 5px solid red;
 }
 
 #slide1:checked ~ label:nth-child(15),
 #slide15:checked ~ label:nth-child(14),
 #slide14:checked ~ label:nth-child(13),
 #slide13:checked ~ label:nth-child(12),
 #slide12:checked ~ label:nth-child(11),
 #slide11:checked ~ label:nth-child(10),
 #slide10:checked ~ label:nth-child(9),
 #slide9:checked ~ label:nth-child(8),
 #slide8:checked ~ label:nth-child(7),
 #slide7:checked ~ label:nth-child(6),
 #slide6:checked ~ label:nth-child(5),
 #slide5:checked ~ label:nth-child(4),
 #slide4:checked ~ label:nth-child(3),
 #slide3:checked ~ label:nth-child(2),
 #slide2:checked ~ controls label:nth-child(1){
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;    
    margin: 50px;
    display: block;
    outline: 5px solid green;
 }
 @media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(13),
 #slide13:checked ~ #controls label:nth-child(14),
 #slide14:checked ~ #controls label:nth-child(15),
 #slide15:checked ~ #controls label:nth-child(1),
 #slide1:checked ~ #controls label:nth-child(15),
 #slide15:checked ~ #controls label:nth-child(14),
 #slide14:checked ~ #controls label:nth-child(13),
 #slide13:checked ~ #controls label:nth-child(12),
 #slide12:checked ~ #controls label:nth-child(11),
 #slide11:checked ~ #controls label:nth-child(10),
 #slide10:checked ~ #controls label:nth-child(9),
 #slide9:checked ~ #controls label:nth-child(8),
 #slide8:checked ~ #controls label:nth-child(7),
 #slide7:checked ~ #controls label:nth-child(6),
 #slide6:checked ~ #controls label:nth-child(5),
 #slide5:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(1){
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
       
    }
 } */