h1 {
    text-align: center;
}

main {
    margin: 0;
    padding: 0;
   /*  align-content: center;
    display: block; */
    min-height: 100vh;
    position: relative;
}

h1 {
    color: #ffffff;
    text-shadow: 0 0 25px #10E02B;
    font-size: 3em;
}

.footer h1 {
    text-shadow: none;
}

.contenedor-p {
    width: 80%;
    margin: 0 auto;
    /* min-height: 100vh;   */
    background: rgba(126, 85, 85, 0.3);
    outline: 2px solid red;
}

.cabeza {
    text-align: center;
    margin-bottom: 400px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 25px #7204A4;
}

.cabeza h3 {
    margin-bottom: -12px;
}

.pie {
    margin-top: 420px;
}

.pie ul {
    list-style: none;
    text-align: center;
    color: #ffffff;
}

.pie ul li {
    text-align: left;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.pie ul li i {
    color: #ffffff;
    border-radius: 20px;
    background-color: #000000;
    padding: 5px;
}

.pie ul li a {
    text-decoration: none;
    color: #ffffff;
    background-color: 0 0 1 .2;
}

.slidershow{
    margin: -50px;
    width: 700px;
    height: 400px;
    overflow: hidden;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .navigation{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  }
  .bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    display: block;
    width: 20px;
    height: 20px;
}
  .bar:hover{
    background: #fff;
  }
  
  input[name="r"]{
      position: absolute;
      visibility: hidden;
  }
  
  .slides{
    width: 500%;
    height: 100%;
    display: flex;
  }
  
  .slide{
    width: 20%;
    transition: 0.6s;
  }
  .slide img{
    width: 100%;
    height: 100%;
  }
  

#r1:checked~.s1 {
    margin-left: -0.1%;
}

#r2:checked~.s1 {
    margin-left: -94.4%;
}

#r3:checked~.s1 {
    margin-left: -193%;
}

#r4:checked~.s1 {
    margin-left: -289.9%;
}

#r5:checked~.s1 {
    margin-left: -388%;
}

#r6:checked~.s1 {
    margin-left: -485%;
}

#r7:checked~.s1 {
    margin-left: -585%;
}

#r8:checked~.s1 {
    margin-left: -683.7%;
}

#r9:checked~.s1 {
    margin-left: -782%;
}

#r10:checked~.s1 {
    margin-left: -879%;
}

#r11:checked~.s1 {
    margin-left: -976%;
}

#r12:checked~.s1 {
    margin-left: -1074.7%;
}

#r13:checked~.s1 {
    margin-left: -1174%;
}

#r14:checked~.s1 {
    margin-left: -1270.5%;
}

#r15:checked~.s1 {
    margin-left: -1380.7%;
}

@media only screen and (max-width: 626px) {
    .slidershow {
    outline: 2px solid green;
    margin-top: -50px;
    width: 90%;
    height: 300px;
    overflow: hidden;
    }	    
}


/* Si vale esto */



/* .slidershow:hover {
    width: 61.5%;
    height: 410px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor: pointer;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
    display: block;
    width: 20px;
    height: 20px;
} */