h1 {
    text-align: center;
}

main {
    margin: 0;
    padding: 0;
    align-content: center;
    display: block;
    min-height: 100vh;
    position: relative;
}

h1 {
    color: #ffffff;
    text-shadow: 0 0 25px #10E02B;
    font-size: 3em;
}

.contenedor-p {
    width: 80%;
    margin: 0 auto;
    /* min-height: 100vh;   */
    background: rgba(126, 85, 85, 0.3);
    outline: 2px solid red;
}

.cabeza {
    text-align: center;
    margin-bottom: 400px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 25px #7204A4;
}

.cabeza h3 {
    margin-bottom: -12px;
}

.pie {
    margin-top: 20px;
}

.pie ul {
    list-style: none;
    text-align: center;
    color: #ffffff;
}

.pie ul li {
    text-align: left;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 14px;
}

.pie ul li i {
    color: #ffffff;
    border-radius: 20px;
    background-color: #000000;
    padding: 5px;
}

.pie ul li a {
    text-decoration: none;
    color: #ffffff;
    background-color: 0 0 1 .2;
}

.slidershow {
    outline: 2px solid green;
    margin-top: -55px;
    width: 60%;
    height: 400px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    width: 50px;
    height: 10px;
    border: 2px solid #fff;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 500%;
    height: 100%;
    display: flex;
}

.slide {
    width: 20%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked~.s1 {
    margin-left: 0;
}

#r2:checked~.s1 {
    margin-left: -20%;
}

#r3:checked~.s1 {
    margin-left: -40%;
}

#r4:checked~.s1 {
    margin-left: -60%;
}

#r5:checked~.s1 {
    margin-left: -80%;
}

@media only screen and (max-width: 830px) {}